* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-bar{
  margin-left: 25rem;
}
.heading{
  text-align:center;
  font-size:30px;
  margin-bottom: 50px;
}
.bg-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./images/aude-andre.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  min-height: calc(100vh - 76px);
}
.header-color{
color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}
.card {
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  border: 1px solid lightblue;
  transition: 0.3s;
}
.card-title{
  text-align: center;
  padding: 10px 10px;
  background: linear-gradient(to right, #4381b3, #408dd4);
  color: #ffff
}
.card-body{
  padding: 30px 20px;
  text-align: center;
  font-size: 24px;
}
.card-body .btn{
 display: block;
 text-align: center;
 background: linear-gradient(to right, #4381b3, #408dd4);
 margin-top: 30px;
 text-decoration: none;
 padding: 10px 5px;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}
 ul li{
   list-style: none;
 }
 span{
   text-align: center;
 }
.business-box{
  display: flex;
  flex-direction: column;
  padding:1rem 1rem ;
  border: 1px solid lightblue;
  border-radius: 5px;
  height: 19rem;
  width: 17rem;
  margin: 1rem;
  }
  
  img{
    object-fit: cover;
    flex: 2;
    width: 100%;
    height: 70%;
    border-radius: 0.5rem;
  }
  .list_style{
    flex: 1;
    padding: 0.5rem;
  
  }
  .image_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
    border: 1px solid red;
    /* flex: 0 1 100px; */
  }